@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/Lato");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.top-links-container {
  flex-direction: row;
  width: 100%;
  height: 40px;
  background-color: #272a31;
}

.top-links {
  align-items: center;
  justify-content: end;
  font-family: "Lato", sans-serif;
  padding: 10px 55px 0 0;
}

li a {
  text-decoration: none;
  color: #272a31;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-size: 1rem;
}

.top-links > a {
  float: right;
  color: #d3d3d3;
  text-decoration: none;
  margin: auto 5px;
}

header {
  background-color: #fff;
  font-family: "Lato", sans-serif;
}

nav {
  padding: 20px 0;
}

.nav-toggle {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  padding: 0 1rem;
}

.campain a {
  border: 3px solid red;
  padding: 5px 12px;
  color: gray;
}

.disable a {
  color: gray;
}

.red a {
  color: red !important;
}

.partners img {
  width: 150px;
  height: auto;
}

.cards img {
  width: 100%;
}

.partners-icon img {
  width: 150px;
}

.container h2 a img {
  text-decoration: none;
  width: 40px;
  height: 40px;
}

.speakers .speaker-img img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  padding-left: 12%;
  padding-top: 12%;
  margin-left: 10px;
}

.speaker-img {
  position: relative;
  background-image: url(../images/chess.png);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.speak-element {
  height: auto;
  margin: 10px auto;
}

.speak-element > p {
  width: 100%;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  padding: 0 1rem;
}

.open {
  height: 100vh;
  background-color: rgb(275, 275, 275, 0.3);
  width: 100%;
  font-size: 1.4rem;
}

.hidden {
  display: none;
}

.sign {
  margin-bottom: 90px;
}

.sign h3 {
  font-size: 30px;
  font-weight: bold;
  color: #272a31;
}

.sign h5 {
  color: #616469;
  margin-top: 8px;
}

.main {
  background-image: url(../images/main.png);
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  color: #fff;
  padding-left: 48px;
  padding-bottom: 30px;
}

.main h2 {
  color: #ec5242;
  font-size: 34px;
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
}

.main h1 {
  font-size: 6rem;
  font-family: "cocogoose", sans-serif;
  background-image: url(../images/orange.jpeg);
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  background-size: cover;

  /* stylelint-disable-next-line declaration-empty-line-before */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.2;
  margin-bottom: 70px;
}

.dishes {
  background-image: url(../images/hit-bg.png);
  background-color: #272a31;
  background-attachment: fixed;
  width: 100%;
  margin-top: -22px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 50px 0 30px 0;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  gap: 0 5px;
  margin-bottom: 30px;
}

.cards {
  width: 230px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.192);
  padding-bottom: 30px;
}

.cards h4 {
  color: #ec5242;
  margin: 5px 0;
  font-size: 20px;
  font-weight: bold;
}

.dish-link2 a {
  display: none;
  color: #fff;
  text-decoration: none;
  background-color: #ec5242;
  width: 84%;
  margin: auto;
  padding: 34px 0;
  font-size: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}

.title h4 {
  font-size: 30px;
  font-family: "Lato", sans-serif;
}

.bar {
  width: 2rem;
  height: 3px;
  background-color: #ec5242;
  margin: auto;
  margin-top: 10px;
}

.cards:hover {
  border: 3px solid #fff;
  background-color: #000;
}

.dish-link a {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.speaker-container {
  width: 80%;
  margin: 0 auto;
}

.featured-title {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-weight: 300;
  margin-top: 50px;
  font-size: calc(1rem + 10px);
}

.featured-speakers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  width: auto;
  padding: 30px;
}

.speakers {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.speakers h6 {
  color: #ec5242;
  margin: 10px 0;
  font-size: 13px;
  font-family: "Lato", sans-serif;
}

.main-footer {
  background-color: #272a31;
  padding-top: 50px;
}

.main-footer h6 {
  text-align: center;
  font-size: 20px;
  color: #d3d3d3;
}

.footer-partners {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
}

.footer-container {
  background-color: #d3d3d3;
  color: #272a31;
  margin: 0;
  padding: 50px;
  display: flex;
  align-items: center;
}

.container-child {
  display: flex;
  flex-direction: row;
}

.footer-title {
  font-size: 40px;
  font-weight: 900;
  margin-right: 50px;
}

@media all and (max-width: 768px) {
  .top-links-container {
    display: none;
  }

  .campain a,
  .disable a,
  .red a,
  .home a {
    font-size: 30px;
  }

  .logo {
    display: none;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .cards img {
    width: 60px;
    height: 60px;
    margin: 20px;
    border: 2px #fff solid;
  }

  .cards > div {
    display: flex;
    align-content: center;
    gap: 20px;
  }

  .dish-link a {
    display: none;
  }

  .dish-link2 a {
    display: block;
  }

  .container h2 a img {
    margin-top: 20px;
  }

  nav {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 250ms height ease-in-out;
  }

  li {
    display: block;
    text-align: center;
    padding: 1.5rem 0;
  }

  .nav-toggle {
    display: block;
    margin-bottom: 50px;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 0 5px;
  }

  .cards {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.192);
    padding-bottom: 30px;
    margin-bottom: 10px;
  }

  .main {
    padding-top: 82px;
  }

  .main h1 {
    font-size: 32px;
    font-family: "cocogoose", sans-serif;
    background-image: url(../images/orange.jpeg);
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    background-size: cover;
    /* stylelint-disable-next-line declaration-empty-line-before */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.2;
    margin-bottom: 70px;
  }

  .main h2 {
    font-size: 20px;
  }

  .speaker-container {
    width: 100%;
    width: auto;
  }

  .featured-speakers {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: auto;
  }

  .footer-partners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: auto;
  }

  .footer-container {
    height: auto;
  }

  .container-child {
    margin: auto;
    align-items: center;
    gap: 6px;
  }

  .footer-title {
    font-size: 20px;
    width: 30%;
  }

  .footer-text {
    margin: 10px auto;
  }
}
